{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": "iOS >= 12, last 2 Chrome versions"
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": ["react-hot-loader/babel"]
}
